<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetDevShop</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="icon" type="image/png" href="/assets/images/favicon.png"/>
</head>
<body>
  <header>
    <Nav>
      <div class="logo">
        <a href=""><img src="/assets/images/logo.png"/></a>
      </div>
        <div class="nav-list">
            <ul>
        <li class="active"><a href="/">Todos</a></li>
        <li class=""><a href="/dogs">Cachorros</a></li>
        <li class=""><a href="/cats">Gatos</a></li>
        <li class=""><a href="/fishes">Peixes</a></li>
            </ul>
      </div>
      <div class="search">
         <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquise por raça" /> 
        </form>
      </div>
    </Nav>
  </header>